.sales-coupon {
  width: 95vw;
  @include center(row);
  justify-content: space-around;
  position: static;
  margin: 0 auto;
  height: 10rem;
  max-width: 767px;
  background-color: $orange;

  p {
    color: white;
  }

  &-middle {
    line-height: 2em;
  }

  &-right {
    border: 1px dashed white;
    padding: 2em;
  }
}

.sales-image {
  height: 8rem;
  width: 8rem;
  background-image: url('../images/coupon-bg.webp');
  position: static;

  p {
    color: $blue;
    transform: rotate(270deg);
    position: relative;
    top: 43%;
    left: -43%;
  }

  &-border {
    height: 6.5rem;
    width: 6rem;
    border: 1px solid $blue;
    position: relative;
    padding: 0;
    margin: 0 auto;
    left: 3%;
    bottom: 85%;
  }

  &-overlay {
    @extend .sales-image-border;
    position: relative;
    left: 8%;
    top: -9%;
    background-color: #1a2456a9;
    z-index: 10;

    h2 {
      margin: 20% auto;
      color: #fbcbbce9;
    }
  }
}

@media screen and (max-width: 768px) {
  .sales-coupon {
    flex-direction: column;
    height: fit-content;
    padding: 1em 0;

    &-middle {
      margin: 1em;
    }
  }
}